#main_content {
    margin-top: 32px;
}

#sidebar {
    width: 30%;
    float: left;
    background-color: white;
}

#content {
    width: 60%;
    background-color: white;
    float: left;
    margin-left: 32px;
    
}

p {
    padding-left: 50px;
    padding-right: 50px;
    
}

h2 {
    padding-left: 15px;
}
