p {
    padding-left: 50px;
    padding-right: 50px;
    
}

#main_content {
    margin-top: 32px;
}

#sidebar {
    width: 30%;
    float: left;
}

#content {
    width: 60%;
    float: left;
    margin-left: 32px;
}

#content h1 {
    color: rgb(155, 22, 29);
}

#text-image{
    width: 30%;
    margin: auto;
    float: right;
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
}

